// --------------------------- Библиотеки -------------------------
script(src="https://code.jquery.com/jquery-2.0.0.js")
script(src="https://cdn.rawgit.com/angeal185/angeal185.github.io/28f5fec1/controllers/jsonRender.js")
script(src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js")
script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery.isotope/3.0.3/isotope.pkgd.min.js")
// ---------------------------- Плагины ---------------------------
// ------------------------ Кастомные стили -----------------------
script(src="/js/custom/all.min.js")