// --------------------------- Библиотеки -------------------------
script(src="https://code.jquery.com/jquery-2.0.0.js")
script(src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js")
// ---------------------------- Плагины ---------------------------
// ------------------------ Кастомные стили -----------------------
script(src="/js/custom/all.min.js")