.parallax-container
    .parallax
        img(src='/images/paralax-background/back7.jpg')
.section.white
    .row.container
        h3.header.center Контакты
        div.contact-block
            img(src='/images/paralax-background/back8.jpg')
            .contact-info
                h4 Кафе "5 вечеров"
                hr
                ul
                    li
                        i.material-icons home
                        span.address г. Киров, ул. Горбачёва, 62
                    li
                        i.material-icons access_time
                        span.worked-time Пн-Вс: 12.00-24.00
                ul
                    li
                        i.material-icons access_time
                        span.phone 8 (8332) 410-537
                    li
                        i.material-icons email
                        span.mail 5Fiveevening@gmail.com
        h3.header Схема проезда
        iframe(src='https://yandex.ru/map-widget/v1/?um=constructor%3A538f297c618009c5cb845544977d59a8c4223e78b7cc1a49c8bc296afa8b9875&source=constructor', width='100%', height='500', frameborder='0')

