.parallax-container
    .parallax
        img(src='/images/paralax-background/back9.jpg')
.section.white
    .row.container
        h3.header.center Фотогалерея
        #gallery.row
            .container.center
                h1 Material Image Gallery
                #filters.button-group
                #grid.grid
        .fixed-action-btn.scrolltop
            a.btn-floating.btn-large.red.waves-effect.waves-light.scroll.hvr-buzz
                i.large.fa.fa-chevron-up