doctype html
html
    include block/head
    body.light-theme
        include block/header

        #theme-switcher
            .elem#light
            .elem#dark
            .elem#green

        include pages/home

        include block/footer
        include block/scripts